:root {
    --primary-color: #b8860b;
    --secondary-color: #ffd700;
    --text-color: #ffaf00;
    --text-subcolor: #fffcc5;
    --icon-width: 12.5vw;
    --icon-height: 25.18vh;
    --num-icons: 9;
    --reel-gap: 3vw;
    --font-size-large: 2.083vw;
    --font-size-medium: 1.563vw;
    --font-size-small: 0.833vw;
    --button-hover-scale: 1.1;
    --change-button-hover-scale: 1.15;
    --corner-button-hover-scale: 1.1;
    --close-btn-hover-image: url('assets/close_button_hover.png');
    --animation-duration: 0.3s;
    --animation-ease: ease-out;
    --pulse-color-primary: rgba(222, 11, 11, 1);
    --pulse-color-secondary: rgba(161, 13, 13, 1);
    --border-radius: 0.938rem;
    --box-shadow: 0 0 0.938rem rgba(0, 0, 0, 0.5);
    --container-gap: 1.042vw;
    --container-padding: calc(0.1 * var(--icon-height));
    --button-size: 10.417vw;
    --spin-button-size: 15.625vw;
    --focus-outline: 3px solid #ffaf00;
    --frame-width-large: calc(1.15 * 23.07vw); /* Збільшений на 15% */
    --frame-width-medium: calc(0.95 * 23.07vw); /* Зменшений на 5% */
    --frame-width-small: calc(0.7 * 23.07vw); /* Зменшений на 30% */
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.logo {
    margin-bottom: -0.938vh;
}

.logo img {
    max-width: 20.833vw;
    height: auto;
}

body {
    background-image: url('assets/gold-bonanza-background.jpg');
    /* background: linear-gradient(45deg, var(--primary-color) 0%, var(--secondary-color) 100%); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease-in-out;
}

.slot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--container-gap);
}

.game-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slots {
    width: calc(3 * var(--icon-width) + 2 * var(--reel-gap));
    height: calc(3 * var(--icon-height));
    padding: var(--container-padding);
    display: flex;
    justify-content: space-between;
    gap: var(--reel-gap);
    border: none;
    margin-left: 7.813vw;
}

.reel {
    width: var(--icon-width);
    height: calc(3 * var(--icon-height));
    background-image: url('assets/golden_reel_bigger.png');
    background-size: 12.5vw calc(var(--icon-height) * var(--num-icons));
    background-repeat: repeat-y;
    background-position: 0 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: none;
    transition: transform var(--animation-duration) var(--animation-ease);
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--container-gap);
    position: absolute;
    top: 13%;
    right: 6%;
    z-index: 600;
}

.button-icon {
    width: var(--button-size);
    height: var(--button-size);
    cursor: pointer;
    transition: transform 0.3s ease;
    outline: none;
}

.button-icon:focus {
    outline: var(--focus-outline);
}

.button-icon:hover {
    transform: scale(var(--button-hover-scale));
}

.button-icon:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.button-icon.spin {
    width: var(--spin-button-size);
    height: var(--spin-button-size);
}

.text-frames {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 1.563vw;
    top: 60%;
    transform: translateY(-50%);
    padding-left: 1.042vw;
}

.frame-container {
    left: -2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-text, .frame-subtext {
    position: absolute;
    color: var(--text-color);
    font-size: var(--font-size-medium);
    font-family: "Rubik", sans-serif;
    text-align: center;
    width: 100%;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.frame-subtext {
    top: 2.563vh;
    color: var(--text-subcolor);
    font-size: var(--font-size-large);
}

.frame-large .frame-text {
    font-size: var(--font-size-large);
}

.frame-medium .frame-text {
    font-size: var(--font-size-medium);
}

.frame-small .frame-text {
    font-size: var(--font-size-small);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.frame-small .frame-subtext {
    font-size: var(--font-size-small);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.frame {
    margin: 2.563vh 0;
}

.frame-large {
    width: var(--frame-width-large);
}

.frame-medium {
    width: var(--frame-width-medium);
}

.frame-small {
    width: var(--frame-width-small);
    margin-top: 10.493vh;
}

.frame-text {
    top: 0.6vh;
}

.frame-subtext.large {
    top: 2.563vh;
    font-size: 2.5vw;
}

.frame-text.small {
    top: 10vh;
    color: var(--text-subcolor);
    font-size: 1.3vw;
}

.frame-text.large {
    top: -0.6vh;
    font-size: var(--font-size-large);
}

.change-button {
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.change-button:focus {
    outline: var(--focus-outline);
}

.change-button img {
    width: 4.167vw;
    height: 4.167vw;
    transition: transform 0.2s ease;
}

.change-button img:hover {
    transform: scale(var(--change-button-hover-scale));
}

.change-button:active img {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.change-button.minus {
    left: 0.129vw;
}

.change-button.plus {
    right: 0.129vw;
}

/* Середні екрани: Tablets */
@media (max-width: 1024px) {
    .change-button.minus {
        left: -0.129vw;
        margin-top: 0.129vh;
    }
    
    .change-button.plus {
        right: -0.129vw;
        margin-top: 0.129vh;
    }
}

/* Малі екрани: Mobile */
@media (max-width: 768px) {
    .change-button.minus {
        left: -0.35vw;
        margin-top: 0.2vh;
    }
    
    .change-button.plus {
        right: -0.35vw;
        margin-top: 0.2vh;
    }
}

.corner-buttons {
    position: absolute;
    top: 2.099vh;
    left: 1.042vw;
    display: flex;
    flex-direction: row;
    gap: 0.521vw;
}

.corner-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    outline: none;
}

.corner-button:focus {
    outline: var(--focus-outline);
}

.corner-button:hover {
    transform: scale(var(--corner-button-hover-scale));
}

.corner-button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.corner-button img {
    width: 4.948vw;
    height: 4.948vw;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.frame-subtext.bet {
    top: 4.3vh;
    font-size: var(--font-size-medium);
}

.paytable_and_paylines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.paytable_and_paylines img {
    max-width: 100%;
    max-height: 100%;
}

.close-btn-container {
    position: absolute;
}

.close-btn {
    position: absolute;
    top: 0.1vh;
    right: 0.1vw;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.close-btn:focus {
    outline: var(--focus-outline);
}

.close-btn img {
    width: 7.97vw;  /* Встановлюємо адаптивну ширину */
    height: auto;   /* Висота автоматично визначається пропорційно ширині */
}

.close-btn:hover img {
    content: var(--close-btn-hover-image);
}

.close-btn:active img {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.hidden {
    display: none;
}

.paylines {
    position: absolute;
    width: 41.667vw;
    height: 83.940vh;
    top: 20.993vh;
}

@keyframes combined-pulse {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 0.260vw var(--pulse-color-primary)) drop-shadow(0 0.521vw 0.260vw var(--pulse-color-primary)) drop-shadow(0 -0.521vw 0.260vw var(--pulse-color-primary));
    }
    25% {
        transform: scale(0.96);
        filter: drop-shadow(0 0 0.260vw var(--pulse-color-secondary)) drop-shadow(0 0.521vw 0.260vw var(--pulse-color-secondary)) drop-shadow(0 -0.521vw 0.260vw var(--pulse-color-secondary));
    }
    50% {
        transform: scale(1.00);
        filter: drop-shadow(0 0 0.260vw var(--pulse-color-primary)) drop-shadow(0 0.521vw 0.260vw var(--pulse-color-primary)) drop-shadow(0 -0.521vw 0.260vw var(--pulse-color-primary));
    }
    75% {
        transform: scale(0.96);
        filter: drop-shadow(0 0 0.260vw var(--pulse-color-secondary)) drop-shadow(0 0.521vw 0.260vw var(--pulse-color-secondary)) drop-shadow(0 -0.521vw 0.260vw var(--pulse-color-secondary));
    }
    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 0.260vw var(--pulse-color-primary)) drop-shadow(0 0.521vw 0.260vw var(--pulse-color-primary)) drop-shadow(0 -0.521vw 0.260vw var(--pulse-color-primary));
    }
}

.paylines img {
    position: absolute;
    width: 41.67vw;
    height: 75.60vh;
    animation: combined-pulse 3s infinite ease-in-out;
    will-change: transform, filter;
    transform: translateZ(0);
}

#win-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Rubik', sans-serif;
    animation: fadeIn 1s ease-in-out;
    z-index: 1000;
    white-space: nowrap;
}

#win-type {
    font-size: 7vw;
    background: linear-gradient(180deg, #c71628, #eb9809, #e8b305, #a60505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    white-space: nowrap;
    animation: combined-pulse 3s infinite ease-in-out;
    font-style: italic;
    cursor: pointer;
}

#win-amount {
    font-size: 5vw;
    background: linear-gradient(180deg, #c71628, #eb9809, #e8b305, #a60505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    white-space: nowrap;
    animation: combined-pulse 3s infinite ease-in-out;
    font-weight: 850;
    font-style: italic;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#overlay.hidden {
    display: none;
}

@keyframes hitEffect {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes textChangedEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes finalHitEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.lever {
    position: absolute;
    top: -2.098vh;
    right: 17.969vw;
    width: 8.39vw; /* Встановлюємо ширину у відносних одиницях (161px / 1920px * 100) */
    height: 23.09vh; /* Встановлюємо висоту у відносних одиницях (220px / 953px * 100) */
    transform: rotate(5deg) scale(0.55);
    transform-origin: bottom right;
    cursor: pointer;
    transition: transform 0.3s ease, top 0.3s ease, right 0.3s ease;
    outline: none;
}

.lever:focus {
    outline: var(--focus-outline);
}

.lever:hover {
    transform: rotate(5deg) scale(0.65);
}

.lever.pull-down {
    transform: rotate(-40deg) scale(0.55);
    top: 2.098vh;
    right: 17.708vw;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, right 0.3s ease-in-out;
}

.lever:active {
    transform: rotate(5deg) scale(0.45);
    transition: transform 0.1s ease;
}

.advanced-auto-settings-container {
    position: absolute;
    top: 20.993vh;
    right: 34.896vw;
    width: 0;
    height: 41.970vh;
    transition: width 0.5s ease-in-out;
    z-index: 500;
}

.advanced-auto-settings-container.show {
    width: 15.625vw;
}

.advanced-auto-settings-panel {
    width: 15.625vw;
    height: 41.970vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

.advanced-auto-settings-panel.show {
    opacity: 1;
}

.advanced_auto_settings {
    width: 25.46vw;
    height: 68.31vh;
}

.settings-buttons {
    position: absolute;
    top: 13.644vh;
    left: 1.823vw;
}

.setting-button {
    cursor: pointer;
    transition: filter 0.3s ease;
}

.setting-button:hover {
    filter: brightness(0.7);
}

.number-of-rounds {
    display: grid;
    grid-template-columns: repeat(4, 5.208vw);
    gap: 0.521vw;
}

.number-of-rounds img {
    width: 5.15vw;
    height: 5.03vh;
}

.switch-button {
    margin-top: 9.443vh;
}

#switch-button {
    width: 6.61vw;
    height: 5.24vh;
}

.lose-limit {
    margin-top: 6.297vh;
    display: grid;
    grid-template-columns: repeat(2, 10.417vw);
    gap: 1.042vw;
}

.button-5x {
    width: 10.57vw;
    height: 5.45vh;
}

.button-20x {
    margin-left: -0.521vw;
    width: 11.20vw;
    height: 5.45vh;
}

.button-50x {
    margin-top: -0.521vw;
    width: 11.20vw;
    height: 5.45vh;
}

.lose_limit_endless_button {
    margin-top: -0.521vw;
    width: 10.57vw;
    height: 5.45vh;
}

.individual_settings_lose_limit_button {
    margin-top: -0.521vw;
    width: 22.14vw;
    height: 5.45vh;
}

.auto-info-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.813vw;
    height: 7.344vh;
    top: -49.611vh;
    left: 9.5vw;
}

.auto-info {
    color: var(--text-subcolor);
    font-size: 6.51vw;
    font-family: "Rubik", sans-serif;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    opacity: 0;
}

#individual-settings-lose-limit-button {
    position: relative;
    cursor: pointer;
    outline: none;
}

.individual-settings-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 22.135vw;
    height: 5.456vh;
    bottom: 1.048vh;
    right: 11.458vw;
}

#individual-input {
    position: absolute;
    width: 22.135vw;
    height: 5.456vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.3vw;
    border: none;
    background: transparent;
    color: var(--text-subcolor);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    outline: none;
    z-index: 700;
}

#individual-input.hidden {
    display: none;
}

#individual-input.inactive {
    border: none;
    background-color: transparent;
    color: var(--text-subcolor);
    cursor: default;
}

#loss_limit_reached_banner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40.313vw;
    height: 39.664vh;
    text-align: center;
    z-index: 1000;
    display: none;
}

.banner-content {
    position: relative;
    width: 100%;
    height: 100%;
}

#banner-image {
    width: 100%;
    height: 100%;
}

.banner-button {
    position: absolute;
    width: 14.90vw;
    height: 10.70vh;
    bottom: 5.771vh;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.banner-button:hover {
    filter: brightness(0.7);
}

.portrait-mode {
    opacity: 0;
}

.rotate-your-phone-gif {
    position: relative;
    width: 100vw;
    height: auto; /* Автоматичне визначення висоти для збереження пропорцій */
    display: block; /* Для уникнення зайвих пробілів */
    margin: 0 auto; /* Центрування GIF */
}

.fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    animation: fadeEffect 5s infinite alternate;
}

@keyframes fadeEffect {
    0% { background-color: rgba(0, 0, 0, 0); }
    50% { background-color: rgba(0, 0, 0, 0.5); }
    100% { background-color: rgba(0, 0, 0, 0); }
}

.full-screen-mode-btn {
    background-color: transparent; /* Робимо фон кнопки прозорим */
    border: none; /* (Не обов'язково) Прибираємо рамку, якщо вона не потрібна */
    position: absolute;
    top: 2.099vh;
    right: 1.042vw;
    transition: transform 0.2s ease;
    outline: none;
}

.full-screen-mode-btn:hover {
    transform: scale(var(--corner-button-hover-scale));
}

.full-screen-mode-btn img {
    width: 20vw;
    height: 20vw;
    cursor: pointer; /* Залишаємо курсор у вигляді руки для клікабельності */
}

.landscape-mode-full-screen-mode-btn {
    background-color: transparent; /* Робимо фон кнопки прозорим */
    border: none; /* (Не обов'язково) Прибираємо рамку, якщо вона не потрібна */
    position: absolute;
    top: -2vh;
    right: -1.042vw;
    transition: transform 0.2s ease;
    outline: none;
}

.landscape-mode-full-screen-mode-btn:hover {
    transform: scale(var(--corner-button-hover-scale));
}

.landscape-mode-full-screen-mode-btn img {
    width: 9vw;
    height: 9vw;
    cursor: pointer; /* Залишаємо курсор у вигляді руки для клікабельності */
}